.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.6)),url(../../images/loginBg.jpg);
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
    font-weight: 600;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
    font-weight: 600;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    color: white;
    background-color: #142C8E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0;
}

.loginButton:hover {
    background-color: #0530db;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginRegisterButton {
    color: white;
    background-color: #142C8E;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 60px;
    right: 20px;
}

.loginRegisterButton:hover {
    background-color: #0530db;
}
